*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Classe di test */
.test{
    border: 1px solid black;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
}

.container #background-top{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: #009688;
    z-index: -1;
}

.container #background-bottom{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: calc(100vh - 150px);
    background-color: #DCDBD1;
    z-index: -1;
}


#ui-container{
    width: 100%;
    height: 100vh;
    padding: 26px;
}


#user-interface{
    display: flex;
    max-width: 1600px;
    width: 70vw;
    height: 100%;
    margin: 0 auto;
    border-radius: 0.2em;
}

#user-interface aside{
    width: 35%;
    height: 100%;
    background-color: white;
}

aside #aside-top{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    height: 80px;
    align-items: center;
    background-color: #EAEAEA;
}

#aside-top #user-profile{
    display: flex;
    align-items: center;
    height: 100%;
    gap: 5px;
}

#user-profile img{
    height: 100%;
    border-radius: 50%;
}

#user-profile strong{
    cursor: pointer;
}

#aside-top #user-buttons{
    display: flex;
    gap: 18px;
    padding-right: 15px;
}


aside #aside-bottom{
    height: calc(100% - 80px);
    background-color: white;
    overflow-y: auto;
}

#aside-bottom #notification{
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 20px;
    height: 85px;
    background-color: #8EDAFC;
}

#notification .fa-solid{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    padding: 6px;
    color: #8EDAFC;
    background-color: white;
    border-radius: 50%;
}

.description-notification a{
    color: gray;
}


#aside-bottom #profile-search{
    display: flex;
    height: 52px;
    padding: 8px;
}

#profile-search button{
    padding: 10px 26px;
}

#profile-search input{
    flex-grow: 1;
    padding-left: 10px;
}


.contact-list .contact-chat{
    display: flex;
    flex-grow: 1;
    align-items: center;
    gap: 20px;
    height: 84px;
    padding: 10px 20px;
    cursor: pointer;
}

.contact-chat.open{
    background-color: #E9EBEB;
}


.contact-chat img{
    height: 100%;
    border-radius: 50%;
}

.contact-chat .contact-preview{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.contact-name{
    font-size: 1.2em;
}

.contact-preview .last-mex{
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: 0.9em;
}


#user-interface main{
    width: 65%;
    height: 100%;
}

main .contact{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 80px;
    background-color: #EAEAEA;
}

.contact .contact-profile{
    display: flex;
    gap: 20px;
    align-items: center;
    height: 100%;
    padding: 10px 20px;
}

.contact-profile img{
    height: 100%;
    border-radius: 50%;
}

.contact-info .contact-status{
    color: grey;
    font-size: 0.9em;
}

.contact .contact-buttons{
    display: flex;
    gap: 18px;
    padding-right: 26px;
}

button{
    background-color: transparent;
    border: none;
    color: gray;
    cursor: pointer;
}

main .chat{
    padding: 56px;
    height: calc(100% - 80px - 80px);
    background-image: url("../img/mine.jpg");
    overflow-y: auto;
}

.chat-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 800px;
    margin: 0 auto;
}

.chat-container .message{
    position: relative;
    padding: 16px 20px;
    margin: 5px 0;
    max-width: 75%;
    background-color: white;
    border-radius: 0.4em;
}

.message.sent{
    align-self: flex-end;
    background-color: #D5F9BA;
}

.message.received{
    align-self: flex-start;
}

.message .time{
    position: absolute;
    right: 5px;
    bottom: 6px;
    font-size: 0.6em;
    color: grey;
}

.message-sender{
    display: flex;
    padding: 10px 0px;
    height: 80px;
}

.message-sender > *{
    height: 100%;
}

.message-sender button{
    padding: 0 38px;
    font-size: 1.7em;
}

.message-sender input{
    flex-grow: 1;
    padding: 16px;
    border: none;
    border-radius: 0.5em;
}