<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ny fontawesome -->
    <script src="https://kit.fontawesome.com/31a056169f.js" crossorigin="anonymous"></script>

    <!-- my style -->
    <link rel="stylesheet" href="./css/style.css">

    <title>Boolzapp</title>
</head>
<body>
    <div id="app" class="container">
        <div id="background-top" class="test"></div>
    
    
        <div id="ui-container">
            <div id="user-interface" class="test">

                <aside class="test">

                    <div id="aside-top">

                        <div id="user-profile">
                            <img src="./img/avatar_io.jpg" alt="user image">
                            <strong id="user-name">Lessia McQ</strong>
                        </div>
                        <div id="user-buttons">
                            <button>
                                <i class="fa-solid fa-circle-notch"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-message"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                        </div>

                    </div>
                    <div id="aside-bottom">
                        <div id="notification">
                            <i class="fa-solid fa-bell-slash"></i>
                            <div class="description-notification">
                                <div class="description-text">Ricevi notifiche du nuovi messaggi</div>
                                <a href="#">Attiva notifiche desktop</a>
                            </div>
                        </div>
                        <div id="profile-search">
                            <button>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <input type="search" placeholder="Cerca o inizia una nuova chat">
                        </div>
                        <div class="contact-list">

                            <div v-for="(contact, index) in contacts" 
                            class="contact-chat test"
                            :class="index == activeChatIndex ? 'open' : ''"
                            @click="swapActiveChat(index)"
                            >
                                <img :src="contact.avatar" alt="">
                                <div class="contact-preview">
                                    <div class="contact-name">{{contact.name}}</div>
                                    <div class="last-mex">
                                        <div class="mex-text">Siuuuuuum</div>
                                        <div class="mex-time">12:00</div>
                                    </div>
                                </div>
                            </div>
                            
                            
                        </div>
                    </div>

                </aside>

                <main class="test">
                    <div class="contact">
                        <div class="contact-profile">
                            <img src="./img/avatar_1.jpg" alt="">
                            <div class="contact-info">
                                <div class="contact-name">Blur</div>
                                <div class="contact-status">Ultimo accesso oggi alle: </div>
                            </div>
                        </div>
                        <div class="contact-buttons">
                            <button>
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-paperclip"></i>
                            </button>
                            <button>
                                <i class="fa-solid fa-ellipsis-vertical"></i>
                            </button>
                        </div>
                    </div>
                    <div id="chat-container">

                        <div class="chat">

                            <div class="chat-container">
                                
                                <div v-for="actualMessage in contacts[activeChatIndex].messages" 
                                class="message"
                                :class="actualMessage.status"
                                >
                                    <div class="message-text">
                                        {{actualMessage.message}}
                                    </div>
                                    <div class="time">{{actualMessage.date}}</div>
                                </div>                        
                                
                            </div>
    
                        </div>
                    </div>

                    <div class="message-sender">
                        <button>
                            <i class="fa-regular fa-face-smile"></i>
                        </button>
                        <input id="text-sender" type="text" 
                        placeholder="Scrivi un messaggio" 
                        @keyup.enter="sendMessage"
                        >
                        <button>
                            <i class="fa-solid fa-microphone"></i>
                        </button>
                    </div>

                </main>

            </div>
        </div>
    
    
        <div id="background-bottom" class="test"></div>
    </div>


    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./js/script.js"></script>
</body>
</html>